/* Estilos para la página de Videollamada */
.video-call-container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #007bff; /* Azul */
    width: 100%;
    padding: 35px;
    text-align: center;
    color: white;
    margin-bottom: 30px;
  }
  
  h1 {
    color: white;
    font-size: 2rem;
  }
  
  .appointments-box {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: 0 auto; /* Centra el recuadro */
    margin-top: 20px; /* Añadido margen superior para separación */
  }
  
  .card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .card-body {
    font-size: 14px;
    color: #333;
  }
  
  .card h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #007bff;
  }
  
  .card p {
    font-size: 1rem;
    color: #555;
  }
  
  .join-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 15px;
  }
  
  .join-button:hover {
    background-color: #0056b3;
  }
  
  .back-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .back-button:hover {
    background-color: #0056b3;
  }
  